$primary: #0073ae;
$secondary: #009f93;

.event-card {
  margin-bottom: 2em;
}

@media all and (min-width: 768px) {
  .events-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
  }

  .event-card {
    margin-bottom: 0;
  }
}

.event-card {
  border: 2px solid $primary;
  border-radius: 5px;

  .image-container {
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .event-card-inner {

    .inner-item {
      padding: 1rem;
    }

    h3,
    p {
      margin: 0;
    }

    .modal-link,
    .booking-link {
      display: block;
      padding: .5rem 1rem;
      background: $primary;
      color: #FFF;
      border-radius: 3px;
      margin: 1rem;
      text-align: center;

      &:hover {
        background: darken($primary, 10%);
      }
    }

    .booking-link {
      background: $secondary;

      &:hover {
        background: darken($secondary, 10%);
      }
    }

    .fas {
      font-family: 'FontAwesome' !important;
    }

    .fa-info-circle,
    .fa-ticket {
      font-size: 1.3em;
      position: relative;
      top: 2px;
      padding-left: 5px;
    }

    .fa-ticket::before {
      content: "\f145";
    }

    .event-label {
      font-size: .9rem;
      margin: 0;
      padding-bottom: .25em;
    }

    .event-dates,
    .event-times,
    .event-location {
      border-bottom: 1px solid rgba($primary, .3);
      padding: .5rem 1rem;
      text-transform: uppercase;
    }

    p:last-child {
      border: none;
      padding-bottom: 2em;
    }
  }
}

// modal popup
.hidden-description {
  display: none;
  text-align: left;
}

@media all and (min-width: 768px) {
  .description-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    margin-bottom: 2em;

    h3 {
      display: flex;
      align-self: center;
    }
  }
}
